*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Estilo de la barra de desplazamiento */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000042; 
  transition: all .1s;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #00000063; 
}
body{
  background-color: #fffbeb;
  color: #451a03;
  overflow: hidden;
}
.page-container{
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: center;
}
.form-container{
  width: 50%;
  min-width: 600px;
}
.title-container{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

input:-webkit-autofill{ box-shadow: 0 0 0px 1000px #fffbeb inset; }


.title-container h1{
  user-select: none;
  margin: 0px;
  font-size: 100px;
  text-shadow: 1px 1px 10px #2b100249;
  margin-bottom: 15px;
}
.title-container p{
  font-size: 14px;
  font-weight: 600;
  width: 70%;
  text-align: center;
}
form{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;

}
.inp-container{
  height: 90px;
  width: 100%;
}
.inp-container span{
  width: fit-content;
  align-self: flex-end;
  font-size: 12px;
  font-weight: 700;
  color: #8a3304;
  margin-left: 5px;
  margin-top: 3px;
}
input{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #451a0300;
  border: 2px solid #451a03;
  border-radius: 6px;
  padding: 0px 10px;
  font-size: 16px;
  color: #451a03;
  transition: all .2s;
}

input::placeholder{
  color: #451a039d;
}
.inp-container label{
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 8px;
  padding: 0px 5px;
  background-color: #fffbeb;
  left: 15px;
  user-select: none;
  
}
input:focus{
  border: 2px solid #b9b6a7;
  
}
button{
  border: none;
}
.btn1{
  color: #451a03;
  box-shadow: 5px 5px 10px #1105003f;
  background-color: #fffbeb;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  width: 400px;
  align-self: flex-end;
  cursor: pointer;
  transition: all .2s;
}
.btn1:hover{
  background-color: #ece9d9;
}
.change-span{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  user-select: none;
}
.reg{
  cursor: pointer;
  margin-left: 5px;
  transition: all .15s;
}
.reg:hover{
  color: #451a03b4;
}
.error-container{
  height: 20px;
  color: #8a3304;
  font-size: 14px;
  font-weight: 700;
}
.nav-container{
  width: 20%;
  height: 100vh;
  min-width: 300px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0px 20px #200c0011;
  align-items: center;
}
.logo-container{
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
.page-content{
  width: 80%;
  height: 100vh;
  min-height: 600px;
}
.item-container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 200px;
}
li{
  list-style: none;
}
.item{
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  transition: all .15s;
}
.item:hover{
  padding-left: 5px;
  cursor: pointer;
}
.logo-container h1{
  font-size: 35px;
  text-shadow: 0px 0px 10px #18090062;
  font-weight: 600;
}
.link{
  text-decoration: none;
  color: #451a03;
  padding: 5px 10px;
}

.icon{
  font-size: 25px;
  position: relative;
  margin-right: 5px;
  top: 5px;
}
.stron{
  font-weight: 500;
}
@media (max-width:1315px){
  .stron{
    display: none;
  }
  .item{
    width: fit-content;
    height: fit-content;
  }
  .link{
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 0px;
  }
  .icon{
    font-size: 35px;
    margin: 0px;
    transition: all .15s;
  }
  .icon:hover{
    scale: 1.1;
  }
  .page-content{
    width: 100%;
  }
  .create-container{
    padding-bottom: 80px;
  }
  .home-container{
    width: 100%;
    padding-bottom: 150px;
  }
  .nav-container{
    
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    min-height: 55px;
    background-color: #fffbeb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .item-container{
    margin: 0px;
    flex-direction: row;
    height: 50px;

    align-items: center;
    padding: 0px;
  }
  .item:hover{
    padding-left: 0px;
  }
  .nav-container h1{
    display: none;
  }

}
@media (max-width:640px) {
  .form-container{
    width: 90%;
    min-width: 250px;
  }
  .btn1{
    width: 50%;
  }
  .title-container h1{
    font-size: 12vw;
  }
}
@media (max-width:450px){
  .title-container h1{
    font-size: 16vw;
  }
}